.body {
    width: 200px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}

.form.hidden {
    height: 0px;
}

.space-apart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}